*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: aqua;
}

h1{
    font-size: 60px;   
    text-align: center;
    text-transform:uppercase; 
    padding: 20px;
}

nav{
    position: fixed;
    width: 100%;
    text-align: center;
    border: 1px solid black;
    font-size: 25px;
    top: 108px;
    z-index: 1;    
    background-color: white;
}

nav ul li{
    display: inline-block;
    width: 220px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav ul li:hover{
    background-color: white;
}

article{
    overflow: auto;
    padding-top: 147px;
}

.container-facts{
    width: 100%;
    padding-left: auto;
    padding-right: auto;

}

.container-facts h2{
    padding-bottom: 20px;
    padding-left: 40px;
}

.container-facts h2{
    font-size: 40px;
}

.main-info{
    position: relative;
    width: 98%;
}

.main-info h3{    
    padding-bottom: 30px;
    padding-left: 30px;
    text-align: justify;
    line-height: 30px;

}

.secondary-info{
    width: 100%;
    display: inline-block;
    padding-bottom: 30px;
}


#img-stoma{
    position: relative;
    float: left;
    left: 50px;
    width: 40%;
    border-radius: 5px;
}

.cientific{
    width: 100%;
    padding-top: 60px;
}

.cientific h2{
    margin-left: 1000px;
}

table{
    width: 25%;
    position: relative;
    border: solid 2px;
    left: 340px;
    font-size: 20px;
}

td{
    text-align: center;
    padding-bottom: 5px;
    width: 50px;
}

